body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 50%;
    margin-top: 150px;
}

.data{
    text-align: center;
}

.container{
    padding-bottom: 40px;
}

