<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wheather-app</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto max-w-screen-lg bg-white rounded-lg mt-4 pb-14">
        <header class="head shadow-md p-8 mx-auto flex justify-between border-2">
            <h1 class="text-2xl font-bold">Weather in your city</h1>
            <div class="search">
                <span>{{city}}</span>
            </div>
        </header>
        <br>
        <div class="forecast mx-auto border shadow-md w-9/12 rounded mb-5 pb-8">
            <div class="day-info px-8 pt-4 pb-2">
                <span class="text-2xl font-bold">Day Weather</span> 
                <span>- {{name_city}}</span>
            </div>
            <span class="px-8 text-gray-400">As of {{time}} PDT</span>
            <hr class="pb-3 mt-2" width="100%">

            <table class="border-collapse w-full">
                <thead>
                    <tr>
                        <th class="p-2 border-b-2 border-gray-300 text-center text-sm font-medium">Date</th>
                        <th class="p-2 border-b-2 border-gray-300 text-center text-sm font-medium">Weather</th>
                        <th class="p-2 border-b-2 border-gray-300 text-center text-sm font-medium">Temperature</th>
                        <th class="p-2 border-b-2 border-gray-300 text-center text-sm font-medium">Speed Wind</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="data p-2 border-b border-gray-200 px-auto text-center">{{date_to_show}}</td>
                        <td class="data p-2 border-b border-gray-200 text-sm text-center">{{wheather}}</td>
                        <td class="data p-2 border-b border-gray-200 text-sm text-center">{{temperature}}℃</td>
                        <td class="data p-2 border-b border-gray-200 text-sm text-center">💨 {{speed}}mph</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>

        
</body>
</html>