<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wheather-app</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container  mx-auto  max-w-screen-xl ">
        <header class=" bg-white shadow-md p-8 mx-auto ">
            <h1 class="text-2xl font-bold">Weather App</h1>
            <div class="search">
                <form class="flex" action="{{url_for('w_api.search_city')}}" method="post" class="mt-4">
                    <input type="text" name="city" placeholder="Search city..." class="border rounded p-2 w-3/4">
                    <button type="submit" class="border bg-blue-500 text-white p-2 rounded ml-4">Search</button>
                </form>
            </div>
        </header>
    </div>

        
</body>
</html>